<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreeSpace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FreeSpace.Properties.Settings>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="TimeStamp" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="dtFixed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dtRemoveable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dtNetwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dtCDRom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dtRamDisk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dtUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Brackets" serializeAs="String">
                <value>False</value>
            </setting>
        </FreeSpace.Properties.Settings>
    </userSettings>
</configuration>